.parallax1 {
    background-image: url("/img/soccer1.jpg");
    background-position: top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 450px;
}
.parallax2  {
    background-image: url("/img/prayer.jpg");
    background-position: right;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 420px;
}

.parallax-text {
    color: #fff;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.363);
    width: 50%;
    margin: auto;
    text-align: center;
    padding-top: 190px;
}

@media (max-width: 768px) {
    .parallax-text {
        color: #fff;
        text-shadow: 2px 2px rgba(0, 0, 0, 0.363);
        width: 70%;
        margin: auto;
        text-align: center;
        padding-top: 155px;
        font-size: 2em;
    }
}