<template name="sharonAdd">
    {{#if isInRole 'admin'}}
    <div class="container">
        <div class="center">
            <p class="flow-text">악보를 추가하세요</p>
        </div>
          {{#autoForm collection="SharonNews"
      id="insertSharonForm"
      type="method"
      meteormethod="submitSharon"
      omitFields="createdAt" autosave="false"}}
      
        <div class="">
        {{> afQuickField name='title'}}
    </div>
     <div class="input-fields">
      <label for="">주의사항</label>
        {{> afFieldInput name='note' type="textarea" class="materialize-textarea"}}
    </div>
     <div class="">
        {{> afQuickField name='linkForScript'}}
    </div>
     <div class="">
       <div class="center">
           *유투브 특성상 비디오 URL를 공유하고 싶으시면 https://www.youtube.com/watch?v=(ID)에 (ID) 부분만 복사하시면 됩니다.
       </div>
        {{> afQuickField name='youtubeLink'}}
    </div>
        <div class="">
        {{> afQuickField name='dateInput'}}
    </div>
        <div class="center" style="margin-top:1em;">
            <button type="submit" class="btn blue white-text">제출</button>
        </div>
      {{/autoForm}}
      <br>
      <br>
      <br>
    </div>
 
   
        {{else}}
    {{>noAuth}}
      {{/if}}
</template>
<template name="sharonEdit">
    
</template>