<template name="about">
    <div class="parallax2 wow fadeIn">
        <h1 class="parallax-text bold nanum wow fadeInDown">주사랑교회에 오신 것을 환용합니다</h1>
        <hr class="light wow zoomIn">
    </div>
    <div class="container">
        <br>
        <h2 class="text-center nanum bold">땅 위에 하나님의 거룩하신 이름을 회복해 드리는 교회이고 싶습니다
        </h2>
            <hr class="wow">
            <br>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-2"></div>
                <div class="col-sm-12 col-md-12 col-lg-8 container">
                    <p class="text-center">
                            주님을 사랑하고, 주님께 사랑받고, 주님께 받은 사랑을 이웃과 민족과 열방 가운데 나누고 싶은 중심으로 1996년 3월 19일 경기도 고양시 화정동에서 시작된 교회입니다. 이 땅 위에 하나님의 거룩하신 이름을 회복해 드리는 교회이고 싶습니다! 이 땅 위에 하나님의 영광과 하나님의 기쁨이 되고 싶은 교회이고 싶습니다! 이 땅 위에 그리스도의 흔적만을 남기는 교회이고 싶습니다! 주님 오실 때까지 변함없이 사랑과 충성을 주께 드리는 교회이고 싶습니다! 하나님의 마음을 시원케 해드리는 그런 교회이고 싶습니다! 두 날개로 날아오르는 건강한 교회이고 싶습니다. 무너진 북한 교회의 재건과 복음화에 크게 쓰임 받는 교회이고 싶습니다! 예수그리스도를 닮은 교회이고 싶습니다. 예수그리스도의 복음을 힘써 전하며 주님의 오실 때 주님께 칭찬 받는 교회이고 싶습니다! 진심으로 ! 진심으로 ! 진심으로 ! 주님의 은혜와 평강과 축복을 기도합니다.


                    </p>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-2"></div>
            </div>
    </div>
    <div class="masthead-followup row m-0 border border-white">
            <div class="col-12 col-md-4 p-3 p-md-5 bg-light border border-white">
              <!-- Icon by Bytesize https://github.com/danklammer/bytesize-icons -->
              <i class="far fa-newspaper fa-3x text-primary"></i>


          
              <h3>교회소식</h3>
              <p></p>
          
         
          
              <hr class="half-rule">
              <a class="btn btn-outline-primary" href="/docs/4.1/getting-started/download/">교회 소식 보기</a>
            </div>
            <div class="col-12 col-md-4 p-3 p-md-5 bg-light border border-white">
                    <!-- Icon by Bytesize https://github.com/danklammer/bytesize-icons -->
                    <i class="fas fa-church fa-3x text-primary"></i>


                
                    <h3>주일예배</h3>
                    <p> </p>
                
               
                
                    <hr class="half-rule">
                    <a class="btn btn-outline-primary" href="/docs/4.1/getting-started/download/">주보 보기</a>
                  </div>
                  <div class="col-12 col-md-4 p-3 p-md-5 bg-light border border-white">
                        <!-- Icon by Bytesize https://github.com/danklammer/bytesize-icons -->
                        <i class="fas fa-map-marked fa-3x text-primary "></i>


                    
                        <h3>찾아오시는 길</h3>
                        <p> </p>
                    
                   
                    
                        <hr class="half-rule">
                        <a class="btn btn-outline-primary" href="/docs/4.1/getting-started/download/">찾아오시는 길</a>
                      </div>
            </div>
            <br>
            <div class="container">
                <h2 class="nanum text-center bold">목사님 소개</h2>
                <hr>
                <br>
                <div class="imgOfPastor">
                    <img class="rounded mx-auto d-block" width="150px" src="/img/parkminjae.jpg" alt="박민재 목사님">
                </div>
            </div>
</template>