회<template name="sermon1">
      <div class="parallax-container" style="height:320px;background: rgba(255, 249, 234, 0.38);">
          <div class="parallax">
              <img src="" alt="">
          </div>
          <div class="container center">
              <h1 class="patua show-on-large-only hide-on-med-and-down">Come Worship with Us <br> and let's bring Glory to the Lord</h1>
               <h3 class="patua show-on-med-only hide-on-large-only hide-on-small-only">Come Worship with Us <br> and let's bring Glory to the Lord</h3>
                <h4 class="patua hide-on-med-and-up">Come Worship with Us <br> and let's bring Glory to the Lord</h4>
             
<br>
 
       <div id="locationOfChurch"></div>
        <div class="">
         <h4 class="patua">Location</h4>
         <p style="margin-top:-.4em;">찾아오시는 길</p>
         </div>
          </div>
      </div>
      
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d790.058861277283!2d126.83458432605656!3d37.620149187903614!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357c9a5ae7f4a7c5%3A0xfb255ca2c67591cf!2z7KO87IKs656R6rWQ7ZqM!5e0!3m2!1sen!2skr!4v1489714391645" width="100%" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
      <section>
          <div class="container center">
              <h1 class="patua">Sunday Service Information</h1>
              <p class="center" style="margin-top:-.4em;">주일예배 순서</p>
            
          </div>
      </section>
   

   {{#if isInRole "admin"}}
   <div class="center">
       <p>지금 주보내용을 수정 하시겠습니까?</p>
       <a href="{{pathFor 'addJuboList'}}">수정하로 가기</a>
   </div>
   {{/if}}
   
   <div class="container">
         {{>dateLine}}
         <div class="center">
             <span>헌금은 들어오실 대 헌금함에 넣으시기 바랍니다.*</span>
         </div>
           <div class="center">
                  <p class="patua flow-text boldt">매주일 오전 11:00</p>
              </div>
          <table class="table-responsive  centered">
            <thead class="bold">
                <tr>
                    <td class="center">구분</td>
                    <td class="center">안내위원</td>
                    <td class="center">봉헌위원</td>
                    <td class="center">기도</td>
                </tr>
            </thead>
            <tbody>
               {{#each ServiceMembers}}
                <tr>
                    <td>{{month1}}월</td>
                    <td>{{serviceMember1}}</td>
                    <td>{{bongHun1}}</td>
                    <td>금주: {{prayer1}}</td>
                </tr>
                <tr>
                    <td>{{month2}}월</td>
                    <td>{{serviceMember2}}</td>
                    <td>{{bongHun2}}</td>
                    <td>내주: {{prayer2}}</td>
                </tr>
               {{/each}}
            </tbody>
        </table>
        <br>
         <div class="borderLine"></div>
         <br>
          <table  class="table-responsive striped centered scheduleTable">
        

        <tbody >
        {{#each JuboList}}
          <tr>
            <td class="center">{{title}}</td>
           
            <td class="center">{{speaker}}</td>
              <td class="center">{{content}}</td>
          </tr>
          {{else}}
          {{/each}}
       
        </tbody>
      </table>
      
   </div>
    <section>
          <div class="container center">
              <h1 class="patua">Wednesday Service Information</h1>
              <p class="center" style="margin-top:-.4em;">수요예배 순서</p>
          </div>
          <div class="center">
                  <p class="patua flow-text boldt">매 수요일 오후 7:30</p>
              </div>
      </section>
      <div class="container">
          <table  class="table-responsive striped centered scheduleTable">
        

        <tbody >
        {{#each JuboList2}}
          <tr>
            <td class="center">{{title}}</td>
           
            <td class="center">{{speaker}}</td>
              <td class="center">{{content}}</td>
          </tr>
          {{else}}
          {{/each}}
       
        </tbody>
      </table>
      </div>
</template>