<template name="missionary">
        <div class="parallax-container" style="height:280px;background:rgba(42, 42, 42, 0.64)">
      <div class="parallax"><img src="/img/pray.jpg">
     
      </div>
        <div class="container" style="margin-top:3.5em;">
          <h1 class="white-text myeong text-shad hide-on-med-and-down">선교 및 사역<span class="grey-text text-lighten-2 hide-on-med-and-down" style="font-size:1.4rem"></span></h1>
           <h3 class="white-text myeong hide-on-med-and-down">주사랑교회 선교사들을 소개합니다</h3>
          <h2 class="white-text myeong text-shad hide-on-large-only show-on-med-and-down" style="margin-top: 1.3em">선교 및 사역 </h2>
          <h4 class="white-text myeong hide-on-large-only show-on-med-and-down">주사랑교회 선교시들을 소개합니다</h4>
      </div>
    </div>
    <div class="container">
        
    </div>
    <div class="container">
        <div class="row">
        <div class="col s12 m12 l12">
            <h3 class="patua"><u><b>파송 선교사</b></u></h3>
         <p class="flow-text">노동현 (김미정)</p>
         <div class="divider">
             
         </div>
            <h3 class="patua"><u><b>협력선교 및 후원단체</b></u></h3>
            <h4 class="patua">인도네시아</h4>
            <p class="flow-text">김철용 (이강인)</p>
              <h4 class="patua">알베니아</h4>
            <p class="flow-text">김용기 (김미숙)</p>
              <h4 class="patua">조지아</h4>
            <p class="flow-text">송기동 (김세라)</p>
              <h4 class="patua">기니</h4>
            <p class="flow-text">손요한 (고광임)</p>
              <h4 class="patua">합동신학대학원대헉교</h4>
            <p class="flow-text">조병수</p>
                       <h4 class="patua">금빛사랑교회</h4>
            <p class="flow-text">최병헌 (김남혜)</p>
                       <h4 class="patua">할렐루야 축구단</h4>
            <p class="flow-text">이영무 (이봉희)</p>
        </div>
 
        </div>
    </div>
</template>
