.newbutton,
.newbutton::after {
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
  -o-transition: all 0.3s;
	transition: all 0.3s;
}

.newbutton {
  background: none;
  border: 3px solid #fff;
  border-radius: 5px;
  color: #fff;
  display: block;
  font-size: 1em;
  font-weight: bold;

  padding: 1em 2em;
  position: relative;
  text-transform: uppercase;
}

.newbutton::before,
.newbutton::after {
  background: #c64242;
  content: '';
  position: absolute;
  z-index: -1;
}

.newbutton:hover {
  color: #fff;
}

.btn-4::before {
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}

.btn-4::after {
  background: #01579b;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}

.btn-4:hover:after {
  height: 0;
  left: 50%;
  top: 50%;
  width: 0;
}