.brand-logo img {
 
    margin-top:.27em;
}
.bold {
    font-weight: 900;
}
.rightTags {
    margin-top:1.6em;
}
.slider ul.indicators {
  z-index: 2;
  bottom: 60px;
}
#sidenav-overlay {
display: none;
}
.slider .indicators {
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
}
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
.great {
    font-family: 'Great Vibes', cursive;

}

.side-nav .subheader {
  cursor: initial;
  pointer-events: none;
  color: rgba(0, 0, 0, 0.54);
  font-size: 14px;
  font-weight: 500;
  line-height: 48px;
}

.side-nav .subheader:hover {
  background-color: transparent;
}


.patua {
    font-family: 'Patua One', cursive;

}

.navContainer {
    width: 90%;
}

.loginRow {
    padding: 2em;
}

  main {
    flex: 1 0 auto;
  }
.slider .indicators .indicator-item {
  display: inline-block;
  position: relative;
  cursor: pointer;
  height: 16px;
  width: 16px;
  margin: 0 12px;
  background-color: #e0e0e0;
  transition: background-color .3s;
  border-radius: 50%;
}

.slider .indicators .indicator-item.active {
  background-color: #33bec9;
  border-radius: 20px;
  border: 2px solid #fff;
}
.greyBack {
    padding:0.3em;
    background:#546e7a;
    margin-top:-2.9em;
    z-index: 3;
}
.greyBack p {
    font-size:1.34rem;
}
.nanumBrush {
    font-family: 'Nanum Brush Script', cursive;

}
.goth {
    font-family: 'Noto Sans Gothic', sans-serif;

}

.opensans {
    font-family: 'Open Sans', sans-serif;

}

.footerNav li  {
    padding: 1em;
    color: white;
    font-weight: 700;
    font-size: 1.3em;
    
}

.borderLine {
    width: 40%;
    margin: 0 auto;
    opacity: 50%;
    height: 4px;
    border-radius: 5px;
    background: #546e7a;
}

.footerNav a {
    color: #fff;
}

.scheduleTable {
    padding: 2em;
    margin-bottom: 1em;
    font-size: 1.2em;
}

.merri {
    font-family: 'Merriweather', serif;
}

.page-footer {
  padding-top: 20px;
  color: #fff;
  background-color: #ee6e73;
}

.page-footer .footer-copyright {
  overflow: hidden;
  min-height: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0px;
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(51, 51, 51, 0.08);
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
