 

.pulse {
  position: relative;
  display: block;

  margin-right: 10px;
  width: 35px;
  height: 18px;
  background: #F64747;
  border-radius: 10%;
 
}

.pulse span {
  position: absolute;
  font-size: 12px;
  left: 3.5px;
}

.pulse:before, .pulse:after {
  content: "";
  position: absolute;
  box-sizing: border-box;
 width: 35px;
  height: 18px;
  border: 1px solid #F64747;
  border-radius: 50%;
}
.pulse:before {
  -webkit-animation: blip1 1s infinite cubic-bezier(0, 0.6, 1, 0.6);
          animation: blip1 1s infinite cubic-bezier(0, 0.6, 1, 0.6);
}
.pulse:after {
  -webkit-animation: blip2 1s infinite linear;
          animation: blip2 1s infinite linear;
}

@-webkit-keyframes blip1 {
  to {
    -webkit-transform: scale(3);
            transform: scale(3);
    opacity: 0;
  }
}

@keyframes blip1 {
  to {
    -webkit-transform: scale(3);
            transform: scale(3);
    opacity: 0;
  }
}
@-webkit-keyframes blip2 {
  to {
    -webkit-transform: scale(2);
            transform: scale(2);
    opacity: 0;
  }
}
@keyframes blip2 {
  to {
    -webkit-transform: scale(2);
            transform: scale(2);
    opacity: 0;
  }
}

