<template name="home">
    <header class="masthead text-center d-flex">
        <div class="container my-auto">
          <div class="row">
            <div class="col-lg-10 mx-auto">
              <h1 style="margin-top:-2em;" class="text-uppercase wow fadeInDown" data-wow-delay="0.5s">
                <strong>주사랑교회에 오신 것을 환영합니다</strong>
              </h1>
              <hr>
            </div>
            <div class="col-lg-8 mx-auto">
              <p class=" mb-5"><b>1996년 3월 19일 창립</b></p>
              <a class="btn btn-primary btn-xl js-scroll-trigger" href="{{pathFor 'about'}}">더 알아보기</a>
            </div>
          </div>
        </div>
      </header>
     
      <section class="bg-image-home overlay" id="about">
          <div class="">  
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto text-center middleHome wow zoomIn">
                <h2 class="section-heading text-white">새가족분들 환영합니다!</h2>
                <hr class="light my-4">
                <p class="text-white mb-4">신앙생활을 처음 시작하시는 분들, 이사 혹은 개인적인 사유로 인해 다른 교회에서  오신분들, 그리고 개종하신 분들이 주사랑교회에서 등록을 하고 신앙생활을 하시길 원하시는 모든 분들 환영합니다!</p>
                <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">오시는 길!</a>
              </div>
            </div>
          </div>
        </div>
        </section>
     <div class="sectionDiv">
        <div class="container">
            <div class="row">
         <div class="col-sm-12 col-md-4 col-lg-4">
  <h3 class="nanum text-center">최근 QT 말씀 보기</h3>
  <hr>
         {{#each newestQt}}
           <div class="card text-center">
 
  <div class="card-body">
    <h5 class="card-title"> {{verse}}</h5>
    <p class="card-text text-truncate">{{explanation}}</p>
    <a href="{{pathFor 'qtView.show'}}" class="btn btn-primary">보기</a>
  </div>
  <div class="card-footer text-muted">
 {{dateInput}}
  </div>
</div>
          {{else}}
           {{/each}}
           <br>
            <div class="text-center">
               <a href="{{pathFor 'qt'}}" class="btn btn-primary btn-block">더 보기</a>
           </div>
           <br>
         </div>
         <div class="col-sm-12 col-md-4 col-lg-4">
           <h3 class="nanum text-center">최근 기도제목 보기</h3>
           <hr>
           {{#each newestPrayer}}
           <div class="card text-center">
 
  <div class="card-body">
    <h5 class="card-title"> {{title}}</h5>
    <p class="card-text text-truncate">{{words}}</p>
    <a href="{{pathFor 'prayer.show'}}" class="btn btn-primary">보기</a>
  </div>
  <div class="card-footer text-muted">
 {{createdAt}}
  </div>
</div>
          {{else}}
           {{/each}}
           <br>
           <div class="text-center">
              <a href="{{pathFor 'prayerList'}}" class="btn btn-primary btn-block">더 보기</a>
          </div>
          <br>
          </div>
          <div class="col-sm-12 col-md-4 col-lg-4">
           <h3 class="nanum text-center">최근 부른 찬양 보기</h3>
           <hr>
           {{#each newestSharon}}
           <div class="card text-center">
 
  <div class="card-body">
    <h5 class="card-title"> {{title}}</h5>
    <p class="card-text text-truncate">{{note}}</p>
    <a href="{{pathFor 'sharon.show'}}" class="btn btn-primary">보기</a>
  </div>
  <div class="card-footer text-muted">
 {{dateInput}}
  </div>
</div>
          {{else}}
           {{/each}}
           <br>
           <div class="text-center">
               <a href="{{pathFor 'sharonPage'}}" class="btn btn-primary btn-block">더 보기</a>
           </div>
           <br>
            </div>
            </div>
          </div>
     </div>
  <div class="parallax1">
    <h1 class="parallax-text"></h1>
  </div>
  <div class="sectionDiv">
    <div class="container">
      <h1 class="nanum text-center">할렐우야 축구단</h1>
      <hr>
    </div>
  </div>
</template>