<template name="homePage">
         <div class='hide-on-med-and-down'>
 <div id="cmn-video-demo3__container" >
 <div class="overlay"></div>
  <video id="cmn-video-demo3__video"   autoplay muted loop>
    <source src="/video/homePage.mp4" type="video/mp4">

    Your browser doesn't support HTML5 video. 
  </video>
  <div id="cmn-video-demo3__content">
  
    <div class=''>
        <h1 class='wow fadeInDown white-text '   style='margin-top:-1.3em'><b>주사랑교회</b></h1>
  
    <p class='flow-text wow fadeInDown white-text' data-wow-delay='1s' >주님의 지상명령인 "땅 끝까지 이르러 내 증인이 되라" 하신 말씀을 이루고자 1996년 3월 19일 설립된 교회로서 말씀중심,<br> 선교중심, 나눔중심의 목회철학을 가지고 시작되었습니다.</p>
             <br>
            <div class="center container">
                <a href="http://cafe.daum.net/lovejsr/XkHl" class="newbutton btn-4">설교 보기</a>
            </div>

             
        
  </div>
  </div>
</div>
  </div>
     <div class="parallax-container hide-on-large-only" style="height:420px;">
      <div class="parallax"><img src="/img/eagle.jpg" alt=""></div>
      <div class="container">
      <div class="center">
        <br><br>
         <h1  class="robotoIt grey-text text-darken-3" style="margin-top:0.8em;">주사랑교회 <br> 오신 것을 <br>환영합니다</h1>
         
    
      </div>
      </div>
    </div>
 
</template>