<template name="contactEmail">
    <div class="row">
    <form role="form" id="email-form" class="col s12">
      <div class="input-field col s12">
          <input id="inputEmail" type="email" class="validate">
          <label for="inputEmail">이메일 주소</label>
        </div>
         <div class="input-field col s12">
          <input id="inputSubject" type="text" class="validate">
          <label for="inputSubject">제목</label>
        </div>
         <div class="input-field col s12">
          <input id="inputBody" type="text" class="validate">
          <label for="inputBody">어떻게 도와드릴까요?</label>
        </div>
        <button type="submit" class="btn">보내기</button>
    </form>
  </div>
</template>