<template name="qtAdd">
        {{#if isInRole 'admin'}}
    <div class="container">
        <div class="center">
            <p class="flow-text">큐티를 추가하세요</p>
        </div>
          {{#autoForm collection="qtWords"
      id="insertQtForm"
      type="method"
      meteormethod="submitQtListing"
      omitFields="createdAt" autosave="false"}}
      
       <div class="row">
          
           <div class="col s12 m6 l6">
               <div class="">
        {{> afQuickField name='verse'}}
    </div>
           </div>
        
           
           <div class="col s12 m6 l6">
               <div class="">
        {{> afQuickField name='explanation'}}
    </div>
           </div>
            <div class="col s12 m12 l12">
               <div class="border">
        {{> afQuickField name='words'}}
    </div>
           </div>
           <div class="col s12 m6 l6 offset-l3">
               <div class="">
        {{> afQuickField name='dateInput'}}
    </div>
           </div>
       </div>
  
        <div class="center" style="margin-top:1em;">
            <button type="submit" class="btn red lighten-1 white-text">제출</button>
        </div>
      {{/autoForm}}
    </div>
    {{/if}}
</template>