<template name="overrideModal">
      <div class="at-title">
   <div class="center">
          <img src="/img/logo.png" class="center" width="45%" alt="주사랑교회" >
 </div>
      <h5 class="center grey-text text-darken-3">로그인 | 회원가입</h5>
      <br>
      <br>
  </div>
</template>
<template name='overrideModalButton'>
<div class="center">
   <button type="submit" class="at-btn btn-flat bold submit {{submitDisabled}} btn-primary blue-text darken-1" id="at-btn" >
    로그인
  </button>
  </div>
</template>
<template name="overrideSignUpLink">
	<div class="at-signup-link">
    <p>
      가입하셨나요?
      <a href="{{signUpLink}}" id="at-signUp" class="at-link at-signup {{disabled}}">회원가입</a>
      {{suffText}}
    </p>
  </div>
</template>
<template name="overrideSignInLink">
	 <div class="at-signin-link">
    <p>
      이미 회원가입하셨나요?
      <a href="{{signInLink}}" id="at-signIn" class="at-link at-signin {{disabled}}">로그인</a>
       {{suffText}}</p>
  </div>
	
</template>
<template name="overrideAtError">
	<div class="at-error">
		{{#if error}}
      <p class="center red-text bold">로그인 실패</p>
    {{/if}}
    {{#each error}}
      <p class="center red-text bold">{{errorText}}</p>
    {{/each}}
  </div>
</template>