<template name="qtView">
   <div class="container" style="margin-top: 7em;">
       <h1 class="nanum text-center wow fadeInDown">QT: {{verse}}</h1>
       <hr>
       <div class="card wow zoomIn">
           <div class="card-body">
               <blockquote class="blockquote  ">
  <p class="mb-0 text-center">"{{explanation}}"</p>
  <footer class="blockquote-footer text-center nanum"><cite>{{verse}}</cite></footer>
</blockquote>
          <br>
           
           </div>
           
       </div>
       <br>
       <h2 class="text-center nanum">본문해설</h2>
         <hr>
          <p class="nanum text-center wow fadeInUp">
              {{{words}}}
          </p>
   </div> 
</template>