<template name="intro">
 <section  class="" style="padding:1em;background: rgba(255, 249, 234, 0.38);">
       <div class="container">
           <h1 class="patua center hide-on-med-and-down">We exist to connect <br> people to Jesus and bring <br>him glory.</h1>
           <h4 class="patua center show-on-small-only hide-on-med-and-up">We exist to connect <br> people to Jesus and bring <br>him glory.</h4>
            <h3 class="patua center show-on-med-only hide-on-small-only hide-on-large-only">We exist to connect <br> people to Jesus and bring <br>him glory.</h3>
           <br>
<p class="center">주님을 사랑하고, 주님께 사랑받고, 주님께 받은 사랑을 이웃과 민족과 열방 가운데

 

나누고 싶은 중심으로 1996년 3월 19일 경기도 고양시 화정동에서 시작된 교회입니다.



이 땅 위에 하나님의 거룩하신 이름을 회복해 드리는 교회이고 싶습니다!

 

이 땅 위에 하나님의 영광과 하나님의 기쁨이 되고 싶은 교회이고 싶습니다.!

 

이 땅 위에 그리스도의 흔적만을 남기는 교회이고 싶습니다!

 

주님 오실 때까지 변함없이 사랑과 충성을 주께 드리는 교회이고 싶습니다!



하나님의 마음을 시원케 해드리는 그런 교회이고 싶습니다!

 

두 날개로 날아오르는 건강한 교회이고 싶습니다.

 

무너진 북한 교회의 재건과 복음화에 크게 쓰임 받는 교회이고 싶습니다!

 

예수그리스도를 닮은 교회이고 싶습니다.

 

예수그리스도의 복음을 힘써 전하며 주님의 오실 때 주님께 칭찬 받는 교회이고 싶습니다!

 

진심으로 ! 진심으로 ! 진심으로 !

 

주님의 은혜와 평강과 축복을 기도합니다.

</p>
       </div> 
 </section>
   <div class="parallax-container" style="height: 390px;background:rgba(0, 0, 0, 0.23);">
       <div class="parallax">
           <img src="/img/pray.jpg" alt="">
       </div>
       <div class="container">
           <div class="row">
               <div class="col s12 m12 l6">
                   <h2 class="patua white-text bold">Sunday Service</h2>
                   <p class="myeong white-text bold" style="margin-top:-1em;font-size:1.33em;">주일예배</p>
                   
                   <p class="noselect" style="color:rgba(255, 255, 255, 0);">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                   <a href="{{pathFor 'sermon1'}}" class="newbutton center">자세하게 보기</a>
               </div>
           </div>
       </div>
   </div>
   <div class="parallax-container" style="height: 390px;background:rgba(0, 0, 0, 0.23);">
       <div class="parallax">
           <img src="/img/churchPics/28.jpg" alt="">
       </div>
       <div class="container">
           <div class="row">
               <div class="col s12 m12 l6 right">
                   <h2 class="patua white-text bold">New Family</h2>
                   <p class="myeong white-text bold" style="margin-top:-1em;font-size:1.33em;">새가족안내</p>
                      <p class="noselect" style="color:rgba(255, 255, 255, 0);">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                   <a href="{{pathFor 'newFamily'}}" class="newbutton center">방문하기</a>
               </div>
           </div>
       </div>
   </div>
      <div class="parallax-container" style="height: 390px;background:rgba(0, 0, 0, 0.23);">
       <div class="parallax">
           <img src="/img/churchPics/kids.jpeg" alt="">
       </div>
       <div class="container">
           <div class="row">
               <div class="col s12 m12 l6 ">
                   <h2 class="patua white-text bold">Youth Service</h2>
                   <p class="myeong white-text bold" style="margin-top:-1em;font-size:1.33em;">유초등 | 중고등부 | 청년부</p>
                      <p class="noselect" style="color:rgba(255, 255, 255, 0);">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                   <a href="" class="newbutton center">자세하게 보기</a>
               </div>
           </div>
       </div>
   </div>
    <div class="parallax-container" style="height: 390px;background:rgba(0, 0, 0, 0.23);">
       <div class="parallax">
           <img src="/img/churchPics/sharon.jpeg" alt="">
       </div>
       <div class="container">
           <div class="row">
               <div class="col s12 m12 l6 right">
                   <h2 class="patua white-text bold">Sharon Choir</h2>
                   <p class="myeong white-text bold" style="margin-top:-1em;font-size:1.33em;">샤론찬양대</p>
                      <p class="noselect" style="color:rgba(255, 255, 255, 0);">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                   <a href="{{pathFor 'sharon'}}" class="newbutton center">자세하게 보기</a>
               </div>
           </div>
       </div>
   </div>
    <div class="parallax-container" style="height: 390px;background:rgba(0, 0, 0, 0.23);">
       <div class="parallax">
           <img src="/img/soccer.jpg" alt="">
       </div>
       <div class="container">
           <div class="row">
               <div class="col s12 m12 l6 ">
                   <h2 class="patua white-text bold">Hallelujah F.C.</h2>
                   <p class="myeong white-text bold" style="margin-top:-1em;font-size:1.33em;">할렐루야 축구단</p>
                      <p class="noselect" style="color:rgba(255, 255, 255, 0);">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                   <a href="http://cafe.daum.net/lovejsr/XoZ6" class="newbutton center">자세하게 보기</a>
               </div>
           </div>
       </div>
   </div>
    <div>
    
       <div class="container">
           <h1 class="patua center">Changing the world one step at a time through <br> Christ, his Love, and F.A.I.T.H.</h1>
           <br>
<div class="row">
    <div class="">
        
         <div class="col s12 m12 l6 offset-l3 center">
               <div class="">
                  <h4 class="patua bold center">목사님 소개</h4>
                 <div class="center">
         <img src="/img/parkminjae.jpg" alt="" style="width:140px">
     </div>
              <br>
    
               {{#each AboutList}}
                {{{introduction}}} 
                {{else}}
                nothing
                {{/each}}
                
          </div>
         
           
        </div>
        <br>
        <div class="col s12 m12 l6 offset-l3 center">
            <h4 class="patua">F.A.I.T.H. 전도</h4>
            <p>주사랑의교회 제자훈련의 훈련 목표는 '모든 성도들을 주님의 제자로 만든다'는 것이다.
이 목표는 '제자훈련' 목회 철학의 기반 위에 세워져 있다.
제자훈련은 32주 과정으로 실시된다. 특히 이 훈련은 가르치는 교사의 은사가 있으신 분들을 선발하여 훈련을 시킨다.
이 훈련에서는 다시 한번 삶의 변화를 시도한다.         </p>
            <br>
            
        </div>
    </div>
</div>
       </div> 
   </div>
<div id="pastorSpeech" class="modal bottom-sheet">
    <div class="modal-content">
      <h4 class="patua bold center">A word from our Pastor</h4>
     <div class="center">
         <img src="/img/parkminjae.jpg" alt="" style="width:140px">
     </div>
            <div class="container">
                {{#each AboutList}}
                {{{introduction}}}
                {{else}}
                nothing
                {{/each}}
            </div>

    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn red">닫기</a>
    </div>
  </div>
</template>