<template name="sharonPage">
   <div id="sharonHead" class="masthead2 text-center d-flex hide-on-med-and-down" >
    <div id="mastHeadContents" class="container my-auto">
          <div class="row">
            <div class="col-lg-10 mx-auto">
              <h1 class="text-uppercase wow fadeInDown text-white">
                <strong>샤론 찬양대</strong>
              </h1>
              <hr>
            </div>
            <div class="col-lg-8 mx-auto">
              <p class="text-white mb-5"><b>Sharon Praise Choir</b></p>
              <a class="btn btn-primary btn-xl js-scroll-trigger" href="" data-toggle="modal" data-target=".bd-example-modal-lg">구성원들 보기</a>
              <a class="btn btn-primary btn-xl" href="" id="sharonHeadButton">성가곡집</a>
            </div>
          </div>
        </div>    
   </div>
   <div class="listingFront" style="margin-top: 4em;">
       {{>sharonListing}}
   </div>
   <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
 <div class="modal-header">
 
         <h4 class="modal-title" >샤론 찬양대 구성원</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
     
 </div>
    </div>
  </div>
</div>
</template>