<template name="header2">
 <div class="center show-on-med-down hide-on-large-only" style="padding:1em;">
   <img src="/img/logo.png" width="180" alt="주사랑교회">

 </div>
  <div id="cd-nav">
  <a href="/" class="logo hide-on-med-and-down"><img src="/img/wlogo.png" width="210" alt="VitalMetrics CDP"></a>
    <a href="#0" class="cd-nav-trigger ">Menu<span></span></a>

    <div id="cd-main-nav">
      <ul>
          <li><a class="menu_list white-text" href="/">홈</a></li>      <li><a class="menu_list white-text" href="{{pathFor 'intro'}}">환영합니다</a></li>
        <li><a class="menu_list white-text" href="{{pathFor 'about'}}">교육과 훈련</a></li>
        <li><a class="menu_list white-text" href="{{pathFor 'start'}}">설교말씀</a></li>
                <li><a class="menu_list white-text" href="{{pathFor 'sharon'}}">샤론 찬양대</a></li>
       <li><a class="menu_list white-text " href="{{pathFor 'qt'}}">QT 말씀 </a></li>
       
      </ul>
    </div>
  </div>
 

</template>
