<template name="youthIntro">
     <h1 class="patua center hide-on-med-and-up">Our<br>  Youth Ministry</h1>
<section class="hide-on-small-only" style="padding:1em;background: rgba(255, 249, 234, 0.38);">
<h1 class="patua center">Our<br>  Youth Ministry</h1>
           <br>
</section>

    <div class="parallax-container" style="height: 390px;background:rgba(0, 0, 0, 0.23);">
       <div class="parallax">
           <img src="/img/churchPics/kids.jpeg" alt="">
       </div>
       <div class="container">
           <div class="row">
               <div class="col s12 m12 l6 right">
                   <h2 class="patua white-text bold right-text">  유|초등부</h2>
                   <p class="myeong white-text bold right-text" style="margin-top:-1em;font-size:1.33em;"> Preschool | Elementary</p>
                      <p class="noselect" style="color:rgba(255, 255, 255, 0);"> </p>
                   <a style="margin-top:11em;"  href="{{pathFor 'preschool'}}" class="newbutton center">자세하게 보기</a>
               </div>
           </div>
       </div>
   </div>
      <div class="parallax-container" style="height: 390px;background:rgba(0, 0, 0, 0.23);">
       <div class="parallax">
           <img src="/img/churchPics/testing.jpg" alt="">
       </div>
       <div class="container">
           <div class="row">
               <div class="col s12 m12 l6 ">
                   <h2 class="patua white-text bold">  중고등부 </h2>
                   <p class="myeong white-text bold" style="margin-top:-1em;font-size:1.33em;">Middle | High School  </p>
                      <p class="noselect" style="color:rgba(255, 255, 255, 0);"> </p>
                   <a style="margin-top:11em;"  href="{{pathFor 'preschool'}}" class="newbutton center">자세하게 보기</a>
               </div>
           </div>
       </div>
   </div>
    <div class="parallax-container" style="height: 390px;background:rgba(0, 0, 0, 0.23);">
       <div class="parallax">
           <img src="/img/churchPics/elohim.jpg" alt="">
       </div>
       <div class="container">
           <div class="row">
               <div class="col s12 m12 l6 right">
                   <h2 class="patua white-text bold right-text">  엘로힘 청년부</h2>
                   <p class="myeong white-text bold right-text" style="margin-top:-1em;font-size:1.33em;">Elohim Youth Group </p>
                      <p class="noselect" style="color:rgba(255, 255, 255, 0);"> </p>
                   <a style="margin-top:11em;"  href="http://cafe.daum.net/lovejsr/Xk8K" class="newbutton center">자세하게 보기</a>
               </div>
           </div>
       </div>
   </div>

</template>