<template name="sharonView">
    <div class="container" style="margin-top:7rem">
        <h1 class="nanum text-center wow fadeInDown">{{title}}</h1>
        <hr class="wow zoomIn">
        <p class="text-center">찬양 날짜: {{dateInput}}</p>
        <br>
        {{#if youtubeLink}}
        <div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{youtubeLink}}" allowfullscreen></iframe>
</div>
        {{else}}
        <div class="text-center">
            <p class="text-red nanum">비디오가 없습니다.</p>
        </div>
        {{/if}}
        <br>
        <p>주의사항:</p>
        <p>{{note}}</p>
    </div>
</template>